PORT=3000
PUBLIC_URL=http://localhost:3000
DBURI=your_mongodb_connection_string_here

JWT_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

NODE_ENV=development