PORT=3000
DBURI=mongodb+srv://<user>:<password>@cluster.mongodb.net/bildyapp
JWT_SECRET=your_jwt_secret_here
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your@email.com
EMAIL_PASS=your_email_password
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxx/yyy/zzz
NODE_ENV=development
